[submodule "yasnippet"]
    path = lisp/extensions/yasnippet
    url = https://github.com/joaotavora/yasnippet.git
[submodule "lsp-bridge"]
    path = lisp/extensions/lsp-bridge
    url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "go-mode"]
    path = lisp/extensions/go-mode
    url = https://github.com/dominikh/go-mode.el.git
[submodule "markdown-mode"]
    path = lisp/extensions/markdown-mode
    url = https://github.com/jrblevin/markdown-mode.git
[submodule "eldoc-extension"]
    path = lisp/extensions/eldoc-extension
    url = https://github.com/emacsmirror/eldoc-extension.git
[submodule "ace-window"]
    path = lisp/extensions/ace-window
    url = https://github.com/abo-abo/ace-window.git
[submodule "auto-save"]
    path = lisp/extensions/auto-save
    url = https://github.com/manateelazycat/auto-save.git
[submodule "avy"]
    path = lisp/extensions/avy
    url = https://github.com/abo-abo/avy.git
[submodule "compat"]
    path = lisp/extensions/compat
    url = https://github.com/emacs-compat/compat.git
[submodule "awesome-tray"]
    path = lisp/extensions/awesome-tray
    url = https://github.com/manateelazycat/awesome-tray.git
[submodule "sort-tab"]
    path = lisp/extensions/sort-tab
    url = https://github.com/manateelazycat/sort-tab.git
[submodule "dired-hacks"]
    path = lisp/extensions/dired-hacks
    url = https://github.com/Fuco1/dired-hacks.git
[submodule "dired-sidebar"]
    path = lisp/extensions/dired-sidebar
    url = https://github.com/jojojames/dired-sidebar.git
[submodule "projectile"]
    path = lisp/extensions/projectile
    url = https://github.com/bbatsov/projectile.git
[submodule "emacs-dashboard"]
    path = lisp/extensions/emacs-dashboard
    url = https://github.com/emacs-dashboard/emacs-dashboard.git
[submodule "ws-butler"]
    path = lisp/extensions/ws-butler
    url = https://github.com/lewang/ws-butler.git
[submodule "dash.el"]
    path = lisp/extensions/dash.el
    url = https://github.com/magnars/dash.el.git
[submodule "vscode-icon-emacs"]
    path = lisp/extensions/vscode-icon-emacs
    url = https://github.com/jojojames/vscode-icon-emacs.git
