[submodule "yasnippet"]
    path = lisp/extensions/yasnippet
    url = https://github.com/joaotavora/yasnippet.git
[submodule "lsp-bridge"]
    path = lisp/extensions/lsp-bridge
    url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "eldoc-extension"]
    path = lisp/extensions/eldoc-extension
    url = https://github.com/emacsmirror/eldoc-extension.git
[submodule "ace-window"]
    path = lisp/extensions/ace-window
    url = https://github.com/abo-abo/ace-window.git
[submodule "auto-save"]
    path = lisp/extensions/auto-save
    url = https://github.com/manateelazycat/auto-save.git
[submodule "avy"]
    path = lisp/extensions/avy
    url = https://github.com/abo-abo/avy.git
[submodule "awesome-tray"]
    path = lisp/extensions/awesome-tray
    url = https://github.com/manateelazycat/awesome-tray.git
[submodule "sort-tab"]
    path = lisp/extensions/sort-tab
    url = https://github.com/manateelazycat/sort-tab.git
[submodule "projectile"]
    path = lisp/extensions/projectile
    url = https://github.com/bbatsov/projectile.git
[submodule "ws-butler"]
    path = lisp/extensions/ws-butler
    url = https://github.com/lewang/ws-butler.git
[submodule "emacs-application-framework"]
	path = lisp/extensions/emacs-application-framework
	url = https://github.com/emacs-eaf/emacs-application-framework.git
[submodule "blink-search"]
	path = lisp/extensions/blink-search
	url = https://github.com/manateelazycat/blink-search.git
[submodule "lazy-load"]
	path = lisp/extensions/lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "go-mode"]
	path = lisp/extensions/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "markdown-mode"]
	path = lisp/extensions/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "popper"]
	path = lisp/extensions/popper
	url = https://github.com/karthink/popper.git
[submodule "one-key"]
	path = lisp/extensions/one-key
	url = https://github.com/manateelazycat/one-key.git